@using CheeseMVC.ViewModels
@model AddCheeseCategoryViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Add a Category</title>
</head>
<body>
<div>
    <form asp-controller="Category" asp-action="Add">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
        <input type="submit" value="Add Category"/>
    </form>    
</div>
</body>
</html>