@model CheeseMVC.ViewModels.AddCategoryViewModel
@{ ViewBag.Title = "Add Category";}


<h3>@ViewBag.Title</h3>

<form asp-controller="Category" asp-action="Add">
    <div class="form-group">
        <label asp-for="Name"></label>
        <br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <input type="submit" value="Create Category" />
</form>